#menu-toggle,
#breadcrumb-wrapper .subpages-menu{
	display: none !important;
}

#featured-links ul {
	padding-left: 0 !important;
}

#main-footer .menus {
  position: relative;
}

#main-footer .menus .section-title {
  font-size: 21px;
}

#multimidia .highlight.highlight-video-player {
  margin-bottom: 0;
}

/*
#main-footer .menus:after {
  transform: translateY(-50%);
  content: "";
  width: 1px;
  height: 50%;
  position: absolute;
  top: 50%;
  right: 0;
  background: #CCC;
}*/


/*

#main-footer .menus ul {
  /*text-align: center;
}

#main-footer .menus ul li {
  display: inline-block;
  font-size: 0;
  padding-left: 10px;
  margin-left: 10px;
  position: relative;
}

#main-footer .menus ul li:before {
  transform: translateY(-50%);
  content: "";
  width: 1px;
  height: 50%;
  background: #222;
  position: absolute;
  left: -0.5px;
  top: 50%;
}

#main-footer .menus ul li:first-child {
  padding-left: 0px;
  margin-left: 0px;
}

#main-footer .menus ul li:first-child:before {
  display: none;
}

#main-footer .menus ul li a {
  font-size: 16px !important;
}