#menu-toggle,
#breadcrumb-wrapper .subpages-menu{
	display: none !important;
}

#featured-links ul {
	padding-left: 0 !important;
}

#main-footer .menus {
  position: relative;
}

#main-footer .menus .section-title {
  font-size: 21px;
}

#multimidia .highlight.highlight-video-player {
  margin-bottom: 0;
}

#page-o-que-e .box {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  color: #FFF;
  border-radius: 15px;
  overflow: hidden;
  min-height: 350px;
}

#page-o-que-e .img-wrapper {
  width: 100%;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  display: block;
  overflow: hidden;
  width: 120px;
  height: 120px;
  margin: 30px 0 0 30px;
  border: 1px solid #CCC;
  margin: 0 auto;
  position: relative;
}

#page-o-que-e .box:before {
    content: " ";
    background-color: transparent;
    /*background-image: -o-radial-gradient(transparent, #000);*/
    /*background-image: linear-gradient(#000, #);*/
    background: rgba(0, 0, 0, .6);
    white-space: nowrap;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .8;
    z-index: 1;
    text-indent: -3000px;
    z-index: -1;
}

#page-o-que-e .img-wrapper img {
  /*width: 200px;*/
}

#page-o-que-e h3 {
  text-align: center;
}

/*
#main-footer .menus:after {
  transform: translateY(-50%);
  content: "";
  width: 1px;
  height: 50%;
  position: absolute;
  top: 50%;
  right: 0;
  background: #CCC;
}*/


/*

#main-footer .menus ul {
  /*text-align: center;
}

#main-footer .menus ul li {
  display: inline-block;
  font-size: 0;
  padding-left: 10px;
  margin-left: 10px;
  position: relative;
}

#main-footer .menus ul li:before {
  transform: translateY(-50%);
  content: "";
  width: 1px;
  height: 50%;
  background: #222;
  position: absolute;
  left: -0.5px;
  top: 50%;
}

#main-footer .menus ul li:first-child {
  padding-left: 0px;
  margin-left: 0px;
}

#main-footer .menus ul li:first-child:before {
  display: none;
}

#main-footer .menus ul li a {
  font-size: 16px !important;
}