#menu-toggle,
#breadcrumb-wrapper .subpages-menu{
	display: none !important;
}

#featured-links ul {
	padding-left: 0 !important;
}

#main-footer .menus {
  position: relative;
}

#main-footer .menus .section-title {
  font-size: 21px;
}

#multimidia .highlight.highlight-video-player {
  margin-bottom: 0;
}

#page-o-que-e .img-wrapper {
  border-radius: 15px;
  overflow: hidden;
  display: block;
}

#page-o-que-e .img-wrapper.square {
  background-size: cover;
  width: 170px;
  height: 170px;
  margin: 0 auto;
  border: 1px solid #CCC;
}

#page-o-que-e .img-wrapper img {
  width: 100%;
}

#page-o-que-e .img-wrapper.rounded {
  border-radius: 50% !important;
  width: 170px;
  height: 170px;
  margin: 0 auto;
  border: 1px solid #CCC;
  background-size: cover;
}

#page-o-que-e h5 {
  font-size: 1.1rem;
}

#como-funciona .img-wrapper {
  width: 350px;
  height: 350px;
  border-radius: 15px;
  overflow: hidden;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
}

#como-funciona #info-graphic {
  background: #FFF;
}

#como-funciona #info-graphic img {
  width: 100%;
  margin: 0 auto;
}

#como-funciona #info-graphic hr {
  display: none;
  width: 80%;
  margin: 0 auto 30px;
}

#como-funciona .box-cnic {
    width: 400px;
    text-align: left;
    padding: 30px;
    margin-left: 50px;
    background: #EEE;
    border-radius: 15px;
    clear: both;

}

/*
#main-footer .menus:after {
  transform: translateY(-50%);
  content: "";
  width: 1px;
  height: 50%;
  position: absolute;
  top: 50%;
  right: 0;
  background: #CCC;
}*/


/*

#main-footer .menus ul {
  /*text-align: center;
}

#main-footer .menus ul li {
  display: inline-block;
  font-size: 0;
  padding-left: 10px;
  margin-left: 10px;
  position: relative;
}

#main-footer .menus ul li:before {
  transform: translateY(-50%);
  content: "";
  width: 1px;
  height: 50%;
  background: #222;
  position: absolute;
  left: -0.5px;
  top: 50%;
}

#main-footer .menus ul li:first-child {
  padding-left: 0px;
  margin-left: 0px;
}

#main-footer .menus ul li:first-child:before {
  display: none;
}

#main-footer .menus ul li a {
  font-size: 16px !important;
}