*::selection {
	background: #F7E288;
	color: #FFF;
}

*::-moz-selection {
	background: #F7E288;
	color: #FFF;
}

body {
	background: #222;
}

#featured-links > .nav {
	padding-left: 0;
}

#steps {
	background: #222;
	color: #F7E288;
}

.home #main-header {
	top: 77px;
}

.section-title {
	color: #F7E288;
}

.highlight-box {
	border: 2px solid #F7E288;
	background-color: #222;
}

.highlight-box:before {
	background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.8));
}

.highlight-box .box-body .box-title a {
	color: #F7E288;
}

.steps {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.steps .steps-segment {
	position: relative;
	flex-basis: 1rem;
	flex-grow: 1;
	flex-shrink: 1;
}

.steps .steps-segment:after {
	height: .4em;
	left: 0;
	right: 0;
	top: calc(1.2rem - (.2em));
	content: " ";
	display: block;
	position: absolute;
	background-color: #F7E288;
}

.steps .steps-marker {
	align-items: center;
	display: flex;
	border-radius: 50%;
	font-weight: 700;
	justify-content: center;
	position: relative;
	z-index: 5;
	height: 2.5rem;
	width: 2.5rem;
	overflow: hidden;
	background-color: #F7E288;
	color: #fff;
	margin: auto;
}

.steps .steps-marker:after {
	content: " ";
	display: block;
	position: absolute;
	background-color: #fff;
	border-radius: 50%;
	height: 2rem;
	width: 2rem;
	z-index: 1;
}

.steps .steps-content {
	padding: 30px;
	text-align: center;
}

.steps .steps-content .box {
	padding: 30px;
	border-radius: 5px;
	position: relative;
}

.steps .step-active .box {
	background: #F7E288;
	color: #222;
}

.steps .steps-content .box:before {
	-webkit-transform: translateY(-100%) translateX(-50%);
	-ms-transform: translateY(-100%) translateX(-50%);
	-o-transform: translateY(-100%) translateX(-50%);
	transform: translateY(-100%) translateX(-50%);

	content: "";
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #F7E288;
	position: absolute;
	top: 0;
	left: 50%;
	display: none;
}

.steps .step-active .box:before {
	display: block;
}

.steps .steps-content .box p:last-child {
	margin: 0;
}

.steps .step-active .steps-marker:after{
	background-color: #facc6b;
	background-image: linear-gradient(315deg, #facc6b 0%, #fabc3c 74%);
}

#multimidia .multimidia-footer .btn {
	border-color: #FFFFFF;
	color: #FFFFFF;
}

#main-footer .container {
	overflow: hidden;
	position: relative;
}

#main-footer {
	overflow: hidden;
	position: relative;
}

#main-footer .menus {
	position: relative;
	float: left;
	margin-bottom: 0 !important;
}

#main-footer .menus .section-title {
	font-size: 21px;
}

#main-footer .social-network {
	float: right;
}

#main-footer .footer-brasil {
	position: absolute;
	right: 0;
	bottom: 23px;
}

.carousel-wrapper #jumbotron-carousel .carousel-item img {
/*	height: auto;
	object-fit: scale-down;*/
}

.carousel-wrapper #jumbotron-carousel .carousel-item:before {
	opacity: 1;
}


.carousel-control-prev,
.carousel-control-next,
.carousel-indicators {
	display: none;
}

.carousel-wrapper #jumbotron-carousel .carousel-item .carousel-caption {
	padding: 0;
	top: 165px;
	display: flex !important;
	align-items: center;
}

.carousel-wrapper #jumbotron-carousel .carousel-item .carousel-caption .container {
	margin: 0;
	padding: 0;
	max-width: 580px;
}


.forms {
	background: #fff;
	box-shadow: 0 0 3px #000;
	margin: 30px auto;
	max-width: 500px;
	overflow: hidden;
	position: relative;
	padding: 0;
}
.forms h1 {
	padding: 0 0 20px 0;
	font-size: 26px;
	color: #666;
	font-weight: lighter;
	text-align: center;
}
.forms form { padding: 30px; }
#signup { display: none; }
.forms .tab-group {
	list-style: none;
	padding: 0;
	margin: 0;
}
.forms .tab-group:after {
	content: "";
	display: table;
	clear: both;
}
.forms .tab-group li a {
	display: block;
	text-decoration: none;
	padding: 15px;
	background: #e5e6e7;
	color: #888;
	font-size: 20px;
	float: left;
	width: 50%;
	text-align: center;
	border-top: 3px solid transparent;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.forms .tab-group li a:hover {
	background: #dedfdf;
	color: #666;
}
.forms .tab-group .active a {
	background: #fff;
	color: #444;
	border-top: 3px solid #73cf41;
}
.forms input {
	font-size: 16px;
	display: block;
	width: 100%;
	padding: 10px 20px;
	border: 1px solid #ddd;
	color: #666;
	border-radius: 0;
	margin-bottom: 10px;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.forms input:focus {
	outline: 0;
	border-color: #2e5ed7;
}
.forms label {
	font-size: 16px;
	font-weight: normal;
	color: #666;
	margin-bottom: 5px;
	display: block;
}
.forms .button {
	border: 0;
	outline: none;
	border-radius: 0;
	padding: 10px 0;
	font-size: 18px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
	background: #73cf41;
	color: #ffffff;
	cursor: pointer;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.forms .button:hover, .button:focus { background: #56ae26; }
.text-p { text-align: right; }
.text-p a { color: #1383ea; }

#news {
	background: #222;
	color: #FFF;
}

#login-bar {
	position: sticky;
	width: 100%;
	height: 35px;
	line-height: 35px;
	top: 0;
	left: 0;
	z-index: 999;
	text-align: right;
	background-color: #facc6b;
	background-image: linear-gradient(315deg, #facc6b 0%, #fabc3c 74%);
	box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
}

#login-bar .btn-outline {
	color: #000;
	display: inline-block;
	border-right: 1px dashed rgba(0,0,0, .3);
	padding: 0 30px;
	-webkit-transition: opacity ease-in-out .2s;
	-o-transition: opacity ease-in-out .2s;
	transition: opacity ease-in-out .2s;
}

#login-bar .btn-outline:hover {
	opacity: 0.6;
	text-decoration: none;
}

#login-bar .btn-outline:first-child {
	margin: 0;
	border-left: 1px dashed rgba(0,0,0, .3);
}

#main-footer .section-title {
	color: #222;
}

.acf-input-prepend,
.acf-input-append,
.acf-input-wrap,
#oscar-main-form .acf-field input[type="text"],
#oscar-main-form .acf-field input[type="password"],
#oscar-main-form .acf-field input[type="number"],
#oscar-main-form .acf-field input[type="search"],
#oscar-main-form .acf-field input[type="email"],
#oscar-main-form .acf-field input[type="url"],
#oscar-main-form .acf-field textarea,
#oscar-main-form .acf-field select,
#oscar-login-form input[type="text"],
#oscar-login-form input[type="password"] {
	height: auto !important;
}

.btn {
	color: #F7E288;
	border-color: #F7E288;
}

.btn:hover {
	color: #F7E288;
}

.video-gallery {
  overflow: hidden;
  background-color: #222;
  color: color(white);
  padding: 60px 0;
}
.video-gallery .highlight {
  width: calc(100% - 30px);
  margin: 0 auto;
  height: 500px;
  padding: 0;
  margin-bottom: 30px;
  background-size: cover !important;
  display: table;
  position: relative;
  background: color(gray);
}

.video-gallery .highlight iframe {
	width: 100%;
	height: 100%;
}

.video-gallery .highlight > a {
  display: table-cell;
  vertical-align: middle;
  padding-right: 65%;
  color: color(white);
  position: relative;
}
.video-gallery .highlight > a:hover {
  text-decoration: none;
}
.video-gallery .highlight-box {
  height: 215px;
  position: relative;
  overflow: visible;
  background: #222;
  border: 2px solid #F7E288;
  cursor: pointer;
}
.video-gallery .highlight-box:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #F7E288;
  position: absolute;
  transform: translateY(-100%) translateX(-50%);
  top: 0;
  left: 50%;
  display: none;
}
.video-gallery .xhighlight-box:hover {
  opacity: 0.5;
}
.video-gallery .highlight-box.active {
  background: #F7E288;
  color: #222;
  border: 1px solid #F7E288;
}
.video-gallery .highlight-box.active:before {
  display: block;
}
.video-gallery .highlight-box.active h3 {
  color: #222;
}
.video-gallery .highlight-box.active:hover {
  opacity: 1;
}

.video-gallery .highlight-box.active .box-body h3 {
	color: #222;
}

.video-gallery .highlight-box .box-body {
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.video-gallery .highlight-box .box-body h3 {
  margin: 0;
  color: #F7E288;
}
.video-gallery #play-multimedia-video {
  display: none;
}