*::selection {
	background: #D0BE73;
	color: #FFF;
}

*::-moz-selection {
	background: #D0BE73;
	color: #FFF;
}

body.admin-bar #barra-brasil {
	/*transform: translateY(32px);*/
	display: none;
}

body.admin-bar #main-header {
	margin-top: 32px;
}

#featured-links > .nav {
    padding-left: 0;
}

#steps {
	background: #1C1C1C;
	color: #B2AB95;;
}

.steps {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.steps .steps-segment {
	position: relative;
	flex-basis: 1rem;
	flex-grow: 1;
	flex-shrink: 1;
}

.steps .steps-segment:after {
	height: .4em;
	left: 0;
	right: 0;
	top: calc(1.2rem - (.2em));
	content: " ";
	display: block;
	position: absolute;
	background-color: #F7E288;
}

.steps .steps-marker {
	align-items: center;
	display: flex;
	border-radius: 50%;
	font-weight: 700;
	justify-content: center;
	position: relative;
	z-index: 5;
	height: 2.5rem;
	width: 2.5rem;
	overflow: hidden;
	background-color: #F7E288;
	color: #fff;
	margin: auto;
}

.steps .steps-marker:after {
	content: " ";
	display: block;
	position: absolute;
	background-color: #fff;
	border-radius: 50%;
	height: 2rem;
	width: 2rem;
	z-index: 1;
}

.steps .steps-content{
	padding: 30px;
	text-align: center;
}

.steps .step-active .steps-marker:after{
	background-color: #F7E288;
}

#multimidia .multimidia-footer .btn {
	border-color: #FFFFFF;
	color: #FFFFFF;
}

#main-footer .container {
	overflow: hidden;
	position: relative;
}

#main-footer {
	overflow: hidden;
	position: relative;
}

#main-footer .menus {
	position: relative;
	float: left;
	margin-bottom: 0 !important;
}

#main-footer .menus .section-title {
	font-size: 21px;
}

#main-footer .social-network {
	float: right;
}

#main-footer .footer-brasil {
	position: absolute;
	right: 0;
	bottom: 23px;
}

.carousel-wrapper #jumbotron-carousel .carousel-item img {
/*	height: auto;
	object-fit: scale-down;*/
}

.carousel-wrapper #jumbotron-carousel .carousel-item:before {
	opacity: 1;
}


.carousel-control-prev,
.carousel-control-next,
.carousel-indicators {
	display: none;
}

.carousel-wrapper #jumbotron-carousel .carousel-item .carousel-caption {
	padding: 0;
	top: 165px;
	display: flex !important;
	align-items: center;
}

.carousel-wrapper #jumbotron-carousel .carousel-item .carousel-caption .container {
	margin: 0;
	padding: 0;
	max-width: 580px;
}


.forms {
	background: #fff;
	box-shadow: 0 0 3px #000;
	margin: 30px auto;
	max-width: 500px;
	overflow: hidden;
	position: relative;
	padding: 0;
}
.forms h1 {
	padding: 0 0 20px 0;
	font-size: 26px;
	color: #666;
	font-weight: lighter;
	text-align: center;
}
.forms form { padding: 30px; }
#signup { display: none; }
.forms .tab-group {
	list-style: none;
	padding: 0;
	margin: 0;
}
.forms .tab-group:after {
	content: "";
	display: table;
	clear: both;
}
.forms .tab-group li a {
	display: block;
	text-decoration: none;
	padding: 15px;
	background: #e5e6e7;
	color: #888;
	font-size: 20px;
	float: left;
	width: 50%;
	text-align: center;
	border-top: 3px solid transparent;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.forms .tab-group li a:hover {
	background: #dedfdf;
	color: #666;
}
.forms .tab-group .active a {
	background: #fff;
	color: #444;
	border-top: 3px solid #73cf41;
}
.forms input {
	font-size: 16px;
	display: block;
	width: 100%;
	padding: 10px 20px;
	border: 1px solid #ddd;
	color: #666;
	border-radius: 0;
	margin-bottom: 10px;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.forms input:focus {
	outline: 0;
	border-color: #2e5ed7;
}
.forms label {
	font-size: 16px;
	font-weight: normal;
	color: #666;
	margin-bottom: 5px;
	display: block;
}
.forms .button {
	border: 0;
	outline: none;
	border-radius: 0;
	padding: 10px 0;
	font-size: 18px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
	background: #73cf41;
	color: #ffffff;
	cursor: pointer;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.forms .button:hover, .button:focus { background: #56ae26; }
.text-p { text-align: right; }
.text-p a { color: #1383ea; }

#login-bar {
	position: fixed;
	width: 100%;
	height: 35px;
	line-height: 35px;
	background: #D0BE73;
	top: 0;
	left: 0;
	z-index: 10;
	border-bottom: 1px solid #D0BE73;
	text-align: right;
}

#login-bar .btn-outline {
	color: #000;
	display: inline-block;
	margin-left: 30px;
}

#login-bar .btn-outline:first-child {
	margin: 0;
}
