#com-via-whatsapp-form {
  @include border-radius(0.25rem);
  padding: 30px 30px 0;
  background: color(alabaster);
  overflow: hidden;
  border: 1px solid color(gray);

  .areas-title {
    display: block;
    margin-bottom: 1rem;
    font-weight: bold;
  }

  label {
    font-weight: bold;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    @include transition(all ease-in-out .2s);

    border: 1px solid color(ghost);
    outline: none;
    box-shadow: none;

    &:focus {
      border-color: color(secondary);
    }
  }

  .checkbox-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin-bottom: 1rem;

    @include media("≥tablet", "≤desktop") {
      grid-template-columns: repeat(3, 1fr);
    }

    @include media("≥phone", "≤tablet") {
      grid-template-columns: repeat(2, 1fr);
    }

    .checkbox-item {
      position: relative;
      overflow: hidden;

      input[type="checkbox"] {
        @include transform(translateX(-100%));

        position: absolute;
        left: 0;
        top: 0;
      }

      label {
        @include transition(all ease-in-out .2s);
        @include border-radius(0.25rem);

        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        background: #FFF;
        height: 50px;
        border: 1px solid color(ghost);
        font-weight: normal;
        cursor: pointer;

        &:hover {
          color: color(secondary);
          border-color: color(secondary);
        }
      }

      input[type="checkbox"]:checked + label {
        background: color(secondary);
        color: color(white);
      }
    }
  }

  .form-group {
    position: relative;

    &.has-error {
      input,
      label {
        border-color: color(danger);
      }
    }

    div.error {
      @include border-radius(10px);

      position: absolute;
      color: white;
      background: rgba(#222, .9);
      padding: 10px;
      font-size: 0.8rem;
      bottom: -48px;
      z-index: 10;
      left: 0;

      &:empty {
        display: none !important;
      }

      &:before {
        content: "";
        width: 0; 
        height: 0; 
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid rgba(#222, .9);
        position: absolute;
        top: -8px;
        left: 15px;
      }
    }
  }

  .submit-wrapper {
    text-align: center;
    width: calc(100% + 60px);
    margin-left: -30px;
    border-top: 1px solid color(ghost);
    padding: 20px;
    margin-top: 40px;
    
    .btn-primary {
      @include border-radius(0.25rem);

      display: inline-block;
      padding: 10px 90px;
      border: 1px solid color(gray);
    }
  }
}